<style>
  body { background-image: url("<%= asset_path(@category.bear_img) %>") }
</style>
<h2>idea #<%= @idea.id %></h2>

  <h4><%= @idea.description %></h4>
<br>
<br>
<p><%= link_to "Edit Idea", edit_idea_path(@idea) %></p>
