/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
  margin-left: 100px;
  margin-top: 220px;
  font-family:sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right,bottom;
  background-size: contain;
 }
img {
  align-items: flex-end;
  max-width: 100%;
  max-height: 300px;
}
body {
  font-family:sans-serif;
}

div.field {
  display:block;
  margin-bottom: 20px;
}
input[type="checkbox"]:hover + label::before {
  text-decoration: underline;
}

/*input[type="checkbox"]:checked + label::before {
  content: '✔';
}*/
label,input[type="checkbox"] + label {
  color: #000000;
  font-size: 18px;
}

input[type="checkbox"] {


/*not in silver  */

  &:hover + label {
    text-decoration: underline;
  }

  &:checked + label {
    color: black;
    position:relative;
    text-decoration: underline;
  }
}



button {
  /*Be careful for repetitive code*/
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
  background: #000000;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  align-content: flex-start;
  /*To use align-content: flex-start, you have to make the button a flex container
  with display: flex*/
}

button:hover {
  text-decoration: underline;
}

/*Overall, nice clean styling and layout. */
